<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="plantilla/template :: head">
</head>

<body>
	<header th:replace="/plantilla/template :: header"></header>

	<div class="container">
		<h1 th:text="${titulo}"></h1>
	</div>

	<div class="container">

		<a class="btn btn-primary btn.sm" th:href="@{/pacientes/create}" th:text="'Nuevo Paciente'"
			title="Crear Nuevo Registro">
		</a>

		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Documento</th>
					<th scope="col">Nombre</th>
					<th scope="col">email</th>
					<th scope="col">Ciudad</th>
				</tr>
			</thead>
			<tbody>

				<tr th:each="cl : ${pacientes}">
					<th scope="row" th:text="${cl.id}"></th>
					<td th:text="${cl.documento}"></td>
					<td th:text="${cl.nombre}"></td>
					<td th:text="${cl.email}"></td>
					<td th:text="${cl.ciudad.ciudad}"></td>

				</tr>
			</tbody>
		</table>
	</div>


	<footer th:replace="plantilla/template :: footer"></footer>

</body>

</html>